 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline:1px solid red; */
}
/* *************************left**************************** */
.bordure{
    border-right: 2px solid;
}
.switch {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 20px;
	cursor: pointer;
}
.switch input{
    display: none;
}
.switch input + span {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #a4a8ae;
   border-radius: 20px;
}
.switch input:checked + span {
	background: #346abf;
}
.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 3px;
	width: 18px;
	height: 18px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .3s;
}
.switch input:checked + span:before {
	left: 19px;
}
/* ***************************************midlle********************************** */
.rowe-flex{
    list-style-type: none;
}
.purpose{
    font-size: 35px;
}
.pod{
    font-size: 13px;
    font-weight: bold;
}
.bas{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.point{
    width: 4px;
    height: 4px;
    background: gray;
    border-radius: 50%;
}
.trait{
    width: 15px;
    border-radius: 25px;
    height: 5px;
    background: rgb(72, 72, 230);
}
/* *********************************************right***************************************** */
.ptit{
    width: 20%;
    border-radius:50px;
    object-fit: cover;
}
.icone{
    position: relative;
}
.icone input{
    position: absolute;
    width: 100%;
}
.icone span{
    position: absolute;
    top: 4px;
    right: 10px;
}
.follow{
    background: lightskyblue;
}
.followe{
    background: blue;
    color:lightskyblue ;
}
.text-muted{
    font-size: 10px;
}
.prgs{
    margin:  0 auto;
    width: 60%;
    height: 2px;
    background: gray;
}
.prgss{
    position: relative;
    width: 80%;
    height: 4px;
    background: #fff;
}
.prg{
    position: absolute;
    right: 0;
    top: -4px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #000;
    border: 2px solid #fff;
}
.p{
    font-size: 10px;
}
.searc{
    margin-top: 10px;
}
@media screen and (max-width:768px){
   .media{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .search{
    margin-top: 0;
   }
   .carousel-caption{
    max-height: 100px;
    padding: 0;
   }
   .purpose{
    margin: 5px;
    font-size: 12px;
   }
   .jay,.m,.lorem-play{
    font-size: 10px;
    margin: 5px 0;
    white-space: nowrap;
   }
   .carsl{
    display: flex;
    gap: 5px;
   }
   .gape{
    display: flex;
    gap: 5px;
   }
   input[type=button]{
    font-size: 10px;
    padding: 5px;
    margin-top: 0;
   }
}